# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env
.flaskenv

# IDEs
.vscode/
.idea/

# Flask
instance/

# OS
.DS_Store

# Migrations (READ BELOW)
# migrations/
